<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="fragments/head :: nav"></th:block>
<h1>Purchases</h1>
<table th:if="${!purchases.isEmpty()}" class="products">
    <thead>
    <tr>
        <th>ID</th>
        <th class="date">Date of purchase</th>
        <th class="address">Address</th>
        <th class="address">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase : ${purchases}">
        <td>
            <a th:href="${'/purchases/details?purchase_id=' + purchase.purchaseId}">
                <th:block th:text="${purchase.purchaseId}"></th:block>
            </a>
        </td>
        <td th:text="${purchase.dateBeg}"></td>
        <td th:text="${purchase.address}"></td>
        <td th:text="${purchase.status}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${purchases.isEmpty()}" class="no-items-message">
    Покупок нет!
</div>
</body>
</html>