<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="fragments/head :: nav"></th:block>
<h1>Orders</h1>
<table th:if="${!orders.isEmpty()}"  class="products">
    <thead>
    <tr>
        <th>ID</th>
        <th class="name">Name</th>
        <th class="category-name">Category Name</th>
        <th class="cost">Cost</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.product.productId}"></td>
        <td class="product_name">
            <a th:href="${'/product/details_product?product_id=' + order.product.productId}">
                <th:block th:text="${order.product.productName}"></th:block>
            </a></td>
        <td th:text="${order.product.category.categoryName}"></td>
        <td th:text="${order.product.cost}"></td>
        <td th:text="${order.count}"></td>
    </tr>
    <tr>
        <td><p>Total cost: <span th:text="${summ}"></span></p></td>
    </tr>
    </tbody>
</table>

<div th:if="${orders.isEmpty()}" class="no-items-message">
    Информация была удалена!
</div>
</body>
</html>


