<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<nav th:fragment="nav">
    <div class="nav" th:if="${user!=null}">
        <div class="left-corner"><a href="/product">Главная страница</a></div>
        <div class="right-corner">
            <div>
                <a href="#" onclick="toggleUserOptions()">[[${user.getFIO()}]]</a>
                <div id="userOptions" style="display: none;">
                    <ul>
                        <li><a href="/purchases">Мои покупки</a></li>
                        <li><a href="/cart">Корзина</a></li>
                        <li><a href="/logout">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="nav" th:if="${user==null}">
        <div class="left-corner"><a href="/product">Главная страница</a></div>
        <div class="right-corner">
            <div class="sign"><a href="/login">Sign In</a></div>
            <div class="sign"><a href="/sign_up">Sign Up</a></div>
        </div>
    </div>
</nav>
</body>
</html>