<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="fragments/nav"></th:block>
<h1>Products</h1>
<form action="/filter"><input type="submit" value="Filter"></form>
<th:block th:replace="fragments/products/table"></th:block>
<div class="center" th:if="${user!=null && user.role.name() == 'ADMIN'}">
    <a href="/moderation/add_product" class="button">Добавить новый продукт</a>
</div>
<div class="item-list">
    <ul class="pager">
        <th:block th:each="item : ${items}">
            <li class="pager-item">
                <a th:href="@{/product(page=${item}-1)}" th:title="'На страницу номер ' + ${item}"
                   th:class="${page + 1 == item ? 'selected-page' : ''}">
                    [[${item}]]
                </a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>


