<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="fragments/nav"></th:block>
<h1>Cart</h1>
<table th:if="${!carts.isEmpty()}" class="products">
    <thead>
    <tr>
        <th>ID</th>
        <th class="name">Name</th>
        <th class="category-name">Category Name</th>
        <th class="cost">Cost</th>
        <th>Count</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${carts}">
        <td th:text="${cart.product.productId}"></td>
        <td class="product_name">
            <a th:href="${'/product/details_product?product_id=' + cart.product.productId}">
                <th:block th:text="${cart.product.productName}"></th:block>
            </a></td>
        <td th:text="${cart.product.category.categoryName}"></td>
        <td th:text="${cart.product.cost}"></td>
        <td>
            <span class="count" th:text="${cart.count}"></span>
            <form action="/cart/increase_product_count" method="POST">
                <input type="hidden" name="product_id" th:value="${cart.product.productId}">
                <input type="submit" value="+">
            </form>
            <form action="/cart/decrease_product_count" method="POST">
                <input type="hidden" name="product_id" th:value="${cart.product.productId}">
                <input type="submit" value="-">
            </form>
        </td>
        <td>
            <form action="/cart/delete_product" method="POST">
                <input type="hidden" name="product_id" th:value="${cart.product.productId}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><p>Total cost: <span th:text="${summ}"></span></p></td>
    </tr>
    </tbody>

    <tr>
        <td>
            <form action="/cart/make_an_order" method="GET">
                <input type="submit" value="Make an order">
            </form>
        </td>
    </tr>
</table>

<div th:if="${carts.isEmpty()}" class="no-items-message">
    Товара нет!
</div>

</body>
</html>


