body {
    font-family: Arial, sans-serif;
    color: #203d4f;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    width: 200px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0d466947;
}

td:first-child,
th:first-child {
    padding-left: 4px;
}

td:last-child,
th:last-child {
    padding-right: 4px;
}

.characteristic {
    font-weight: bold;
}

.review {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review .author {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
    color: #203d4f;
}

.review .content {
    margin-left: 20px;
    color: #020a0fa6;
}

.characteristic {
    text-align: center;
}

.review form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review form label {
    display: block;
    margin-bottom: 5px;
}

.review form textarea,
.review form input[type="number"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
}

.review form input[type="submit"] {
    background-color: #0d4669;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.review form input[type="submit"]:hover {
    background-color: #0d3456;
}

#userOptions {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    z-index: 9999;
}

#userOptions ul {
    list-style-type: none;
    padding: 0;
}

#userOptions ul li {
    margin-bottom: 5px;
}

#userOptions ul li a {
    text-decoration: none;
    color: #333;
}

#userOptions ul li a:hover {
    color: #5e849c;
}

.nav {
    display: flex;
    justify-content: space-between; /* Distributes items evenly, with space between */
    align-items: center; /* Aligns items vertically */
    margin: 20px 20px 0 20px; /* Adjusted margin */
}

.left-corner {
    margin-right: auto; /* Pushes the left-corner to the left */
}

.right-corner {
    display: flex;
}

.right-corner > div {
    margin-left: 10px;
}

.nav > .right-corner > div > a,
.nav > .left-corner > a, a {
    text-decoration: none;
    color: #0d3456;
}

.count {
    margin-right: 10px;
}

.no-items-message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #888;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.review {
    margin-bottom: 20px;
    position: relative; /* Чтобы псевдоэлементы были позиционированы относительно этого блока */
}

.score {
    position: absolute; /* Позиционируем абсолютно */
    top: 0; /* Положение сверху */
    right: -20px; /* Отступ справа */
    width: 20px; /* Ширина круга */
    height: 20px; /* Высота круга */
    border-radius: 50%; /* Делаем круглым */
    background-color: red; /* Красный цвет */
    color: white; /* Белый цвет текста */
    display: flex; /* Делаем содержимое центральным */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: center; /* Выравниваем содержимое по центру по вертикали */
}

.content {
    margin-left: 25px; /* Отступ с левой стороны */
}

form input[type="submit"] {
    background-color: #bbcbd5;
    color: #203d4f;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}