<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="fragments/head :: nav"></th:block>

<h1>Products</h1>

<div class="filter-container">
    <div class="left-column">
        <div class="filter-block">
            <h3>Фильтр</h3>
            <div th:if="${currentCategory != null}">
                <p>Текущая категория: <span th:text="${currentCategory.categoryName}"></span></p>
            </div>

            <div th:if="${currentCategory == null}">
                <p>Выберите категорию:</p>
                <div class="category-buttons">
                    <th:block th:each="category, iterStat : ${categories}">
                        <form th:class="${iterStat.first} ? '' : 'with-border'">
                            <input type="hidden" name="category_id" th:value="${category.categoryId}">
                            <input type="submit" class="category-button" th:value="${category.categoryName}">
                        </form>
                    </th:block>
                </div>
            </div>

            <form action="/filter/action" method="post" th:if="${currentCategory != null}">
                <th:block th:each="entry, iterStat : ${map}">
                    <label th:text="${entry.key}"></label>
                    <th:block th:each="value : ${entry.value}">
                        <input type="checkbox" name="selectedValues" th:id="'selectedValues' + ${iterStat.index}" th:value="${value}" th:text="${value}">
                    </th:block>
                    <input type="hidden" name="selectedKeys" th:value="${entry.key}">
                </th:block>
                <input type="submit" value="Отправить">
            </form>

        </div>
    </div>
    <div class="right-column">
        <table class="products" th:if="${!products.isEmpty()}">
            <thead>
            <tr>
                <th>ID</th>
                <th class="name">Name</th>
                <th>Category ID</th>
                <th class="categoruName">Category Name</th>
                <th class="cost">Cost</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td class="product_name">
                    <a th:href="${'/product/details_product?product_id=' + product.productId}">
                        <th:block th:text="${product.productName}"></th:block>
                    </a></td>
                <td th:text="${product.category.categoryId}"></td>
                <td th:text="${product.category.categoryName}"></td>
                <td th:text="${product.cost}"></td>
                <td>
                    <form action="/cart/into_a_basket" method="GET">
                        <input type="hidden" name="product_id" th:value="${product.productId}">
                        <input type="hidden" name="page" th:value="${page}">
                        <input type="submit" value="into a basket" th:class="${user==null ? 'submitDisable' : ''}"
                               th:disabled="${user==null}">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${products.isEmpty()}" class="no-items-message">
            Товара нет!
        </div>
    </div>
</div>

</body>
</html>


