<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="fragments/nav"></th:block>
<div class="container">
    <h1>Отзывы для модерации</h1>
    <th:block th:each="review : ${reviews}">
        <div class="review">
            <div class="review-content">
                <div class="author" th:text="${review.getUser().getFIO() + 'Оценка: ' + review.getScore()}"></div>
                <div class="product"
                     th:text="${'[' + review.product.category.categoryName + '] ' + review.product.productName}"></div>
                <div class="content" th:text="${review.getReview()}"></div>
            </div>
            <div class="btn-container">
                <form action="/moderation/reviews/delete" method="post">
                    <input type="hidden" name="review_id" th:value="${review.reviewId}">
                    <button class="btn delete-btn">Удалить</button>
                </form>
                <form action="/moderation/reviews/show" method="post">
                    <input type="hidden" name="review_id" th:value="${review.reviewId}">
                    <button class="btn show-btn">Показать</button>
                </form>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>
