<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(Products)"></head>
<th:block th:replace="fragments/jquery"></th:block>
<body>
<th:block th:replace="fragments/nav"></th:block>
<h1>Products</h1>

<div class="filter-container">
    <div class="left-column">
        <div class="filter-block">
            <th:block th:if="${currentCategory == null}" th:insert="fragments/filter/categories"></th:block>
            <th:block th:if="${currentCategory != null}"
                      th:insert="fragments/filter/current_category_filter"></th:block>
        </div>
    </div>
    <div class="right-column">
        <th:block th:replace="fragments/products/table"></th:block>
    </div>
</div>
</body>
</html>


