<!DOCTYPE html>
<head th:replace="view/fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="view/fragments/head :: nav"></th:block>
<h1>Addendum:</h1>
<form action="/moderation/add_characteristics/submit" method="POST">
    <table class="details">
        <tr>
            <th>ID</th>
            <td><span th:text="${product.productId}"></span></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><span th:text="${product.productName}"></span></td>
        </tr>
        <tr>
            <th>Category Name</th>
            <td><span th:text="${product.category.categoryName}"></span></td>
        </tr>
        <tr>
            <th>Cost</th>
            <td><span th:text="${product.cost}"></span></td>
        </tr>
    </table>

    <h3>Характеристикa</h3>
    <table class="details">
        <tr th:each="characteristic : ${product.category.getCharacteristics()}">
            <th><span th:text="${characteristic.getCharacteristicName()}"></span>:</th>
            <td>
                <input type="text" name="characteristic_value" placeholder="characteristic_value">
                <input type="hidden" name="characteristic_id" th:value="${characteristic.getCharacteristicId()}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" name="product_id" th:value="${product.getProductId()}">
                <input type="submit" value="Edit">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
