<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="view/fragments/head :: nav"></th:block>
<h1>Addendum:</h1>
<form action="/moderation/add_product/submit" method="POST">
    <table class="details">
        <tr>
            <th>Name</th>
            <td><input type="text" name="productName" placeholder="Product Name"></td>
        </tr>
        <tr>
            <th>Category Name</th>
            <td>
                <select name="categoryId">
                    <th:block th:each="category : ${categories}">
                        <option th:value="${category.getCategoryId()}"
                                th:text="${category.getCategoryName()}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <th>Cost</th>
            <td><input type="text" name="cost" placeholder="Cost"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
</body>
</html>
