<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        function toggleUserOptions() {
            var userOptions = document.getElementById("userOptions");
            userOptions.style.display = userOptions.style.display === "none" ? "block" : "none";
        }
    </script>
</head>
<body>
<div class="nav" th:if="${user!=null}">
    <div class="left-corner"><a href="/product">Главная страница</a></div>
    <div class="right-corner">
        <div>
            <a href="#" onclick="toggleUserOptions()">[[${user.getFIO()}]]</a>
            <div id="userOptions" style="display: none;">
                <ul>
                    <li><a href="/purchases">Мои покупки</a></li>
                    <li><a href="/cart">Корзина</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h1>Description:</h1>
<table class="details">
    <tr>
        <th>Name</th>
        <td><span th:text="${product.productName}"></span></td>
    </tr>
    <tr>
        <th>Category Name</th>
        <td><span th:text="${product.category.categoryName}"></span></td>
    </tr>
    <tr>
        <th>Cost</th>
        <td><span th:text="${product.cost}"></span></td>
    </tr>
</table>

<h3 th:if="${!product.getProductCharacteristics().isEmpty()}">Характеристикa</h3>
<table>
    <tr th:each="characteristic : ${product.productCharacteristics}">
        <th><span th:text="${characteristic.characteristic.characteristicName}"></span>:</th>
        <td><span th:text="${characteristic.characteristicValue}"></span></td>
    </tr>
</table>

<div class="review">
    <h2>Отзывы:</h2>
    <form action="/addReview" method="post" th:if="${checkReview == false}">
        <label for="review" th:name="review">Напишите ваш отзыв:</label><br>
        <textarea id="review" name="review" rows="4" cols="50"></textarea><br>
        <label for="score" th:name="score">Оцените продукт (от 1 до 5 звезд):</label><br>
        <input type="number" id="score" name="score" min="1" max="5"><br>
        <input type="hidden" name="product_id" th:value="${product.productId}">
        <input type="checkbox" id="public" name="public" value="public">
        <label for="public">Публично отобразить оценку</label><br>
        <input type="submit" value="Отправить отзыв">
    </form>

    <div class="content" th:if="${user!=null && checkReview == true}" style="color: #B48A8AFF">Вы уже оставляли отзыв!
    </div>
    <div class="content" th:if="${user!=null && checkOrder == false}" style="color: #B48A8AFF">Вы можете оставить отзыв
        после покупки товара...
    </div>
    <div class="content" th:if="${user==null}" style="color: #B48A8AFF">Войдите в систему, чтобы оставить отзыв...</div>
    <br>
    <th:block th:each="review : ${reviews}" th:if="${!reviews.isEmpty()}">
        <div class="author" th:text="${review.getUser().getFIO() + 'Оценка: ' + review.getScore()}"></div>
        <div class="content" th:text="${review.getReview()}"></div>

        <form action="/moderation/re" th:if="${user!=null && user.role.name()=='ADMIN'}">
            <input type="hidden" name="review_id" th:value="${review.reviewId}">
            <button>Убрать</button>
        </form>
    </th:block>
    <p th:if="${avgScore!=null}">Средняя оценка: <span th:text="${avgScore}"></span> звезд</p>
</div>
</body>
</html>

