<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="view/fragments/head :: nav"></th:block>
<h1>Change:</h1>
<form action="/moderation/edit_product/submit" method="POST">
    <table class="details">
        <tr>
            <th>ID</th>
            <td><span th:text="${product.productId}"></span></td>
            <td>-</td>
        </tr>
        <tr>
            <th>Name</th>
            <td><span th:text="${product.productName}"></span></td>
            <td><input type="text" name="productName" placeholder="productName"></td>
        </tr>
        <tr>
            <th>Cost</th>
            <td><span th:text="${product.cost}"></span></td>
            <td><input type="text" name="cost" placeholder="cost"></td>
        </tr>
    </table>
    <h3 th:if="${!product.getProductCharacteristics().isEmpty()}"
        th:text="'Характеристикa [' + ${product.getCategory().getCategoryName()} + ']'">
    </h3>
    <table class="details">
        <tr th:each="characteristic : ${product.productCharacteristics}">
            <th><span th:text="${characteristic.characteristic.characteristicName}"></span>:</th>
            <td><span th:text="${characteristic.characteristicValue}"></span></td>
            <td>
                <input type="text" name="characteristic_value" placeholder="characteristic_value">
            </td>
            <input type="hidden" name="characteristic_id" th:value="${characteristic.getProductCharacteristicId()}">
        </tr>
        <tr>
            <input type="hidden" name="product_id" th:value="${product.productId}">
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>
