<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="view/fragments/head :: head(Products)"></head>
<body>
<th:block th:replace="view/fragments/head :: nav"></th:block>
<div class="container">
    <h1>Модерация</h1>
    <div class="data-item">
        <a href="/moderation/reviews" th:text="${'Количество комментариев ожидающих модерацию: ' + numberPrivateReviews}"></a>
    </div>
    <div class="data-item">
        <a href="/moderation/purchases" th:text="${'Количество покупок ожидающих модерацию: ' + numberPurchases}"></a>
    </div>
</div>
</body>
</html>
